// put all styles for a component in a component's container class to make sure you don't accidently style something in another component
.skills-container {
    overflow: hidden;

    .chart-container {
        width: 100%;
        max-width: 100%;
        min-height: 400px !important;

        -webkit-transition: background-color 1500ms linear;
        -ms-transition: background-color 1500ms linear;
        transition: background-color 1500ms linear;

        .current-ht {
            position: relative;
            top: 185px;
            left: 45%;
            z-index: 999999999;
            color: $blue;
            background: $darkT;
            border: none;
            min-width: 80px;
            max-width: 150px;
            word-wrap: break-word;
            text-align: center;
            font-size: 30px;
            
            -webkit-transition: all 1500ms linear;
            -ms-transition: all 1500ms linear;
            transition: all 1500ms linear;
        }
    }
}
